/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #141616;
    color: white;
  }
  
  .navbar:hover {
    background-color: #c4c4da; 
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s; 
  }
  
  .navbar-links a:hover {
    color: #ff6347;
    text-decoration: underline; 
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-toggle {
      display: flex;
    }
  }
  
  h1{
    color: rgb(61, 49, 48);
  
  }
  p{
    color: rgb(172, 33, 33);
  } */