.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  margin-bottom: 1rem;
  width: 200px;
  height: 30px;
  padding: 5px;
}

.Kaypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

button {
  width: 60px;
  height: 60px;
  font-size: 18px;
}
